[Desktop Entry]
Name=Startkladde
Comment=Starterfassung für den Vereinsflugbetrieb
Exec=startkladde
Terminal=false
Type=Application
Categories=Office;Database;Qt;
Icon=startkladde.png

